In [43]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score

In [3]:
### KNN example ###
df = pd.read_csv('/smoke_detection_iot.csv')

In [52]:
df.head()

,Unnamed: 0,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
0,0,1654733331,20.000,57.36,0,400,12306,18520,939.735,0.0,0.0,0.0,0.0,0.0,0,0
1,1,1654733332,20.015,56.67,0,400,12345,18651,939.744,0.0,0.0,0.0,0.0,0.0,1,0
2,2,1654733333,20.029,55.96,0,400,12374,18764,939.738,0.0,0.0,0.0,0.0,0.0,2,0
3,3,1654733334,20.044,55.28,0,400,12390,18849,939.736,0.0,0.0,0.0,0.0,0.0,3,0
4,4,1654733335,20.059,54.69,0,400,12403,18921,939.744,0.0,0.0,0.0,0.0,0.0,4,0

In [21]:
# Spliting the data
x = df.drop(['Unnamed: 0', 'UTC', 'Fire Alarm'], axis = 1).values
y = df['Fire Alarm'].values
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.33, random_state=42)

In [22]:
# Normalization the data
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [51]:
#n_neighbors is the number of neighborns
#p is the distance used for training, 1 = Manhatan and 2 = Euclidean
parameters = {'n_neighbors': [3,5,7,10,20], 'p': [1,2]}
model = GridSearchCV(KNeighborsClassifier(), parameters, cv = 5)
model.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [3, 5, 7, 10, 20], 'p': [1, 2]})

In [42]:
model.best_score_, model.best_params_

(0.9997140275437211, {'n_neighbors': 3, 'p': 1})

In [49]:
predictions = model.predict(x_test)
confusion_matrix(y_test, predictions)

array([[ 5961,     8],
       [    1, 14698]])

In [50]:
accuracy_score(y_test, predictions)

0.9995645442229534